<include file="Public:header"/>
  <!-- nav结束 -->
  <div class="dizhi  container">
    <div class="row">
      <div class="dizhi-con container">
        <span>海之韵</span>><span>联系我们/Relation</span>
      </div>
    </div>
  </div>
  <!-- contetn开始 -->
  <div class="relation-content">
    <ul class="container">
      <li class="row">
        <img src="__PUBLIC__/phone/images/phone.png" class="col-xs-4">
        <div class="relation-txt col-xs-10">
          <h4>联系方式</h4>
          <p>{$contact.phone}</p>
          <p>{$contact.phone2}</p>
        </div>
      </li>
      <li class="row">
        <img src="__PUBLIC__/phone/images/qq.png" class="col-xs-4">
        <div class="relation-txt col-xs-10">
          <h4>QQ</h4>
          <p>{$contact.qq}</p>
          <p>{$contact.qq2}</p>
        </div>
      </li>
      <li class="row">
        <img src="__PUBLIC__/phone/images/email.png" class="col-xs-4">
        <div class="relation-txt col-xs-10">
          <h4>邮箱</h4>
          <p>{$contact.email}</p>
          <p>{$contact.email2}</p>
        </div>
      </li>
     
      <li class="row">
        <img src="__PUBLIC__/phone/images/dibiao.png" class="col-xs-4">
        <div class="relation-txt col-xs-10">
          <h4>地址</h4>
          <p>{$contact.address}</p>
          <p>{$contact.address2}</p>
        </div>
      </li>
    </ul>
    <iframe src="__PUBLIC__/phone/images/map.html" scrolling="no" class="container"></iframe>
  </div>
  <!-- contetn结束 -->
  <script src="__PUBLIC__/phone/js/jquery-3.1.1.min.js" charset="utf-8"></script>
  <script src="__PUBLIC__/phone/js/top.js" charset="utf-8"></script>
</body>

</html>
