<include file="Public:header"/>
  <!-- nav结束 -->

  <div class="dizhi  container">
    <div class="row">
      <div class="dizhi-con container">
        <span>海之韵</span>><span>{$newstype.typename}</span>
      </div>
     <!--  <ul class="top-tap">
       <li class="active col-xs-12">
         <a href="#">新闻动态/News</a>
       </li>
       <li class="col-xs-12">
         <a href="#">行业资讯/News</a>
       </li>
     </ul> -->
    </div>
  </div>
  <!-- contetn卡开始 -->
  <div class="new-content ">
    <div class="news container">
      <ul class="row container" id="add">
      <volist name="newslist" id="vo">
        <li class="row" onclick="location.href='{:U('NewsInfo/index',array('articleid'=>$vo['articleid']))}'">
          <div class="news-img col-xs-4">
            <img src="__ROOT__/Uploads/{$vo.imagename}">
          </div>
          <div class="news-txt col-xs-8">
            <h5>{$vo.title}</h5>
            <p>{$vo.describle|htmlspecialchars_decode|strip_tags|mb_substr=0,15,'UTF-8'}..</p>
          </div>
        </li>
      </volist>
      
      </ul>
    </div>
    
  </div>
  <p style="text-align: center;" onclick="check({$id},$(this),a=1)" id="1" class="adding">更多...</p>
  <!-- conternt结束 -->
  <script src="__PUBLIC__/phone/js/jquery-3.1.1.min.js" charset="utf-8"></script>
  <script src="__PUBLIC__/phone/js/top.js"></script>
  <script src="__PUBLIC__/phone/js/news.js" charset="utf-8"></script>
 
</body>

</html>
<script type="text/javascript">
  function check(id,obj,a){
       var pid=obj.attr("id");
      $.ajax({
          "url":"{:U('NewsList/more')}",
          "type":"get",
          "dataType":"html",
          "data":{"id":id,"pid":pid},
          "error":function(){},
          "success":function(re){
            if(re!=""){
              $("#add").append(re);
              obj.attr("id",parseInt(pid)+1);
            }else{
              $(".adding").html("<font color='red'>没有更多了</font>...");
              $(".adding").unbind();
            }
          }
     });
}
$(function(){
 alert($("#add li:first").offset().top);
 $(window).scroll(function(){
      var a=$("#add li:first").offset().top;
      alert(a);
     
 })
   
   
})


</script>

