body{
  background: #f6f6f6;
  padding-bottom: 50px;
}
.teach-tittle {
  margin: 24px auto 0 auto;
}

.teach-tittle p {
  color: #cc1002;
}

.teach-tittle span {
  color: #666;
}
.teach-content .row{
  background: #fff;
  border: 1px solid #d7d7d7;
  margin: 20px auto 0 auto;
}

.teach-content .teach-img {
  padding: 0
}

.teach-content .teach-img img {
  width: 100%;
  height: 137px;
}
.teach-content .teach-txt{

}
